Source: kodi-pvr-magenta
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, rapidjson-dev,
               kodi-addon-dev
Standards-Version: 4.1.2
Section: libs

Package: kodi-pvr-magenta
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Magenta PVR for Kodi
 Magenta PVR for Kodi

Package: kodi-pvr-magenta-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Magenta PVR for Kodi
 debug symbols for Magenta PVR for Kodi
